
body {
  background-color: #9198e5;
  color: #131816;
}

#header {
  background-color: rgb(230, 100, 101);
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 8rem;
}

.alert {
  color: #fd2323;
  padding: 20px;
  background-color: #FFFF00;
  font-weight: bold;
}

#container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  margin: 0px;
}

.ul {
margin: 0px;
}
.li {
  list-style: none;
  display: inline-block;
  width: calc(100% / 3);
  height: auto;
  text-align: justify;
  padding-top:25px;
  padding-bottom: 25px;
  text-align: start;

}
.film-title,.film-date{
  text-align: justify;
  font-weight: bold;
  color: rgb(8, 7, 27);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 0.5cm;
}
@media screen and (max-width: 300px) {
  main#container {
    flex-flow: column nowrap;
    flex-direction: column;
    align-items: stretch;
  }


}